<!--
Template of 1 comment




{{Author}} - author's username
{{AvatarURL}} - comment author's profile picture url
{{Date}} - comment post date 
{{Content}} - comment content
{{Id}} - comment id
{{NewsId}} - id of the article
{{Day}} - day the comment was posted (day of the month)
{{Month}} - month the comment was posted (as a number)
{{Year}}" - year the comment was posted in (as a number)
{{Hour}}" - hour the comment was posted at (only number)
{{Minutes}} - minute comment was at

Example: {{Month}}/{{Day}}/{{Year}} {{Hour}}:{{Minutes}}
-->
<div>
    <p>_______</p>
    <img src="{{AvatarURL}}" width="100"/>
    <p>{{Author}} Date: {{Day}}/{{Month}}/{{Year}} {{Hour}}:{{Minutes}}</p>
    <p>{{Content}}</p>
    <p></p>
    <p>_______</p>
</div>