<!--
{{Username}} - username
{{FirstName}}" - users' First name
{{LastName}}", - users' Last name
{{GroupKey}}", - users' Group keyword (i.e. admin)
{{AvatarURL}}" - users' Profile picture URL
{{GroupTitle}} - users' Group title (i.e. Administrator)
{{Email}} - users' email
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{MetaKeywords}}" />
    <meta name="description" content="{{MetaDescription}}" />
    
    <link href="/Content/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="/Content/main.css" type="text/css" rel="stylesheet" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.6.2.js"></script>

    <title>{{Title}}</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index" class="navbar-brand">CMS test</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/Admin/Index">Admin</a></li>
                </ul>
                {{Login}}
            </div>
        </div>
    </div>
    <div class="container body-content">
        {{Content}}
    </div>

<!-- Visual Studio Browser Link -->
<script type="application/json" id="__browserLink_initializationData">
    {"appName":"Firefox"}
</script>
<script type="text/javascript" src="http://localhost:56667/66b7ce199a2a4fc2b47f3cbb4e0e5dbf/browserLink" async="async"></script>
<!-- End Browser Link -->


<!-- Visual Studio Browser Link -->
<script type="application/json" id="__browserLink_initializationData">
    {"appName":"Firefox"}
</script>
<script type="text/javascript" src="http://localhost:62930/28f70328517f481ca058409a719f2873/browserLink" async="async"></script>
<!-- End Browser Link -->


<!-- Visual Studio Browser Link -->
<script type="application/json" id="__browserLink_initializationData">
    {"appName":"Firefox"}
</script>
<script type="text/javascript" src="http://localhost:60813/55d9ab07c9c64312ba180416d3845066/browserLink" async="async"></script>
<!-- End Browser Link -->


<!-- Visual Studio Browser Link -->
<script type="application/json" id="__browserLink_initializationData">
    {"appName":"Firefox"}
</script>
<script type="text/javascript" src="http://localhost:63585/34dbdf92e3034b85aa97375dde081b88/browserLink" async="async"></script>
<!-- End Browser Link -->

</body>
</html>
