@model HttpPostedFileBase

@{
    ViewBag.Title = "UploadImage";
}

<h2>UploadImage</h2>

@using (Html.BeginForm("UploadImage","Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>File max. size is 2mb.</p>
    <input type="file" accept=".jpg,.jpg,.gif" id="image" name="image"/>
    <input type="submit" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
